@font-face {
  font-family: 'AlrightSans';
  src: url('~@/assets/fonts/AlrightSans-Light.eot') format('eot'),
       url('~@/assets/fonts/AlrightSans-Light.ttf') format('truetype'),
       url('~@/assets/fonts/AlrightSans-Light.woff') format('woff'),
       url('~@/assets/fonts/AlrightSans-Light.woff2') format('woff2'),
       url('~@/assets/fonts/AlrightSans-Light.svg') format('svg');
}
@font-face {
  font-family: 'AlrightSansBold';
  src: url('~@/assets/fonts/AlrightSans-Bold.eot') format('eot'),
       url('~@/assets/fonts/AlrightSans-Bold.ttf') format('truetype'),
       url('~@/assets/fonts/AlrightSans-Bold.woff') format('woff'),
       url('~@/assets/fonts/AlrightSans-Bold.woff2') format('woff2'),
       url('~@/assets/fonts/AlrightSans-Bold.svg') format('svg');
}

@mixin breakpoint($type) {
  @if $type == large {
    @media screen and (min-width: 1240px) and (max-width: 1439px) {
      @content;
    }
  }
  @if $type == medium {
    @media screen and (min-width: 1040px) and (max-width: 1239px) {
      @content;
    }
  }
  @if $type == small {
    @media screen and (min-width: 840px) and (max-width: 1039px) {
      @content;
    }
  }
  @if $type == xsmall {
    @media screen and (max-width: 839px) {
      @content;
    }
  }
}



$fontBold: AlrightSansBold;
$font: AlrightSans;

body {
  h1, h2 {
    font-family: $fontBold;
  }
  h1 {
    font-size: 42px;
    line-height: 65px;
  }
  h1, h2, h3, h4, h5, h6, p, a {
    color: white;
    margin: 0;
  }
  a:visited {
    color: #ddd;
  }
  p, a {
    font-family: $font;
    font-size: 18px;
    line-height: 33px;
  }
  a:hover {
    cursor: none;
  }
}

$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);

$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);

$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);

$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);

$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$authenticMotion: cubic-bezier(.4,0,.2,1);

$appearDistance: 30px;
$appearDuration: 0.6s;
$appearEase: $authenticMotion;
$appearableAnimBaseDelay: 0ms;

