@font-face {
  font-family: 'AlrightSans';
  src: url('~@/assets/fonts/AlrightSans-Light.eot') format('eot'),
       url('~@/assets/fonts/AlrightSans-Light.ttf') format('truetype'),
       url('~@/assets/fonts/AlrightSans-Light.woff') format('woff'),
       url('~@/assets/fonts/AlrightSans-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'AlrightSansBold';
  src: url('~@/assets/fonts/AlrightSans-Bold.eot') format('eot'),
       url('~@/assets/fonts/AlrightSans-Bold.ttf') format('truetype'),
       url('~@/assets/fonts/AlrightSans-Bold.woff') format('woff'),
       url('~@/assets/fonts/AlrightSans-Bold.woff2') format('woff2');
}
